<style>
.xx{}
	.indexhead{background-color:grey;color:Black;font-size: 50}
	.login{font-size:30;}
	div{text-align:center;margin-left:auto; margin-right:auto;margin-top:80;}
	a{border:2px inset #cccccc; color:#555555; text-align:center; font-size: 20;}
	.management{font-size:30;background-color: grey;}
    table{margin-left:auto; margin-right:auto;}
    th{background-color:grey;}
    td{font-size: 30;text-align: center;}
    form{text-align: center;}
    h1{text-align: center;}
    h3{text-align: center;}
    h4{margin-left: auto;margin-right: auto;width: 300;}
    


</style>